.custom-development-plugin-panel {
	background-color: #f8f8ff;
	margin-bottom: 1rem;

	.custom-development-plugin-panel__row--form {
		border-bottom: 1px #cacad0 dotted;
		padding-bottom: 1rem;
	}
}

